{% extends "layout.html" %}

{% block title %}
Book Details
{% endblock %}

{% block body %}
<h2>{{ book.title }}<h2>

<div>
  <ul>
    <li>Author: {{ book.author }}</li>
    <li>Published in: {{ book.year }}</li>
    <li>ISBN: {{ book.isbn }}</li>
  </ul>
</div>

<div>
  <h3>Reviews for {{ book.title }}</h3>
  <p><i>Write a review:</i><p>
    <form action="{{ url_for('post_review') }}" method="post">
      <div class="form-group">
	<label for="score" class="control-label">Your score:</label>
	
	<select class="form-control" name="score">
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	</select>
	<div class="form-group">
	  <input class="form-control" style="text" name="review" placeholder="What did you think of this book? Write down your thoughts." />
	</div>
    </form>
    <div>
      <p><i>All reviews:</i></p>
      <ul>
	{% if not reviews %}
	<li>No reviews written yet.</li>
	{% else %}
	{% for review in reviews %}
	<li>
	  <p>User# {{ review.user_id }} said:</p>
	  <p>Score: {{ review.score }}</p>
	  <p>{{ review.text }}</p>
	</li>
	{% endfor %}
	{% endif %}
      </ul>
    </div>
    </div>
{% endblock %}
