{% extends "layout.html" %}

{% block title %}
Search for books
{% endblock %}

{% block body %}
<h2>Search for Books<h2>
<div class="text-info">
  <p>Hello, you can search here for books.</br>
  Search by book title, author, or isbn.</p>
</div>
<form action="{{ url_for('lookup') }}" method="post">
  <div class="form-group">
    <input class="form-control" style="text" name="search" placeholder="Enter your query" />
  </div>
</form>
<div>
  <p>Result:</p>
  <ul>
    {% if result == 0 %}
    <li>No result found</li>
    {% else %}
    {% for res in result %}
    <a href="{{ url_for('book', book_isbn=res.isbn) }}">
      <li>{{ res.title }}, by {{ res.author }}</li>
    </a>
    {% endfor %}
    {% endif %}
  </ul>
</div>
    
{% endblock %}
